@import "tailwindcss";

@theme {
  --color-brand-primary: #800000; /* maroon */
  --color-brand-secondary: #facc15; /* yellow/gold accent */
  --color-brand-dark: #171717; /* neutral-900 */
  --color-brand-light: #f9fafb; /* gray-50 */
}

@layer base {
  body {
    @apply bg-brand-light text-brand-dark font-sans antialiased selection:bg-brand-secondary selection:text-white overflow-x-hidden;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
